.courses-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(heading.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;  
  margin-top: 80px;
}
.courses-heading h1{
  width: 100vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.514);
  text-align: center;
  font-size: 40px;
  color: white;
}
.courses-card-container{
   display: grid;
    align-items: center;
    justify-content: center;
   grid-template-columns: auto auto auto;
   column-gap: 30px;
   row-gap: 30px;
   margin-top: 10px;
  }
  .items{
    border: none;
    border-radius: 5px;
    width: 380px;
    height: 440px;
    text-align: center;
    background-color: #6300b415;

  }


  .courses-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .courses-card .text {
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
  }
  .courses-card .text h1 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
  }
  .courses-card .rate {
    margin: 20px 0;
    color: rgb(255, 217, 0);
  }
  .courses-card .rate i {
    font-size: 18px;
    cursor: pointer;
    
  }
  .courses-card .details{
    margin-top: 30px;
  }
  .courses-card .details .dimg{
    display: flex;
    justify-content: center;
  }
  .courses-card .details .dimg img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .courses-card .details .box {
    display: grid;
    align-items: center;
    justify-content: center;
    color: #666666;
  }
  .courses-card .details span {
    color: #6300b4;
    font-weight: 500;
    font-size: 18px;
  }
   .price {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .courses-card h3 {
    font-weight: bold;
    color: #6300b4;
  }

  .enroll-btn{
    background-color: #6300b4;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: solid 2px #6300b4 ;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .enroll-btn:hover{
    background-color: white;
    color: #6300b4;
    border: solid 1px #6300b4;
  }
  /*-------------online---------*/
  .online {
    margin-top: 50px;
    text-align: center;
  }
  .online .online-heading h1{
    font-size: 40px;
    text-align: center;
  }
  .online .online-course-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .online .online-course-box{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
  }
  .online .box {
    box-shadow: 0px 0px 10px #0000001a;
    width: 200px;
    border-radius: 5px;
    background-color: white;
    padding: 30px 20px;
    transition: 0.5s;
  }
  .online .img {
    width: 80px;
    height: 80px;
    margin: auto;
    position: relative;
  }
  .online img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .online h1 {
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0;
    line-height: 30px;
  }
  .online span {
    background-color: #6300b4;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    border-radius: 5px;
  }
  .online .box .show {
    opacity: 0;
  }
  .online .box:hover {
    background-color: #8c00ff;
    border-radius: 5px;
    cursor: pointer;
  }
  .online .box:hover .show {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .online .box:hover h1 {
    color: #fff;
  }

  
  /*-------------online---------*/
  @media screen and (max-width: 768px) {
    .courses-card-container{
        display: grid;
        grid-template-columns: auto;
       }
       .items{
         width: 350px;
         height: 450px;
     
       }
       .courses-card .price {
        margin: 30px 20px;
      }
       .online .online-course-box{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 15px;
        column-gap: 15px;
      }
      .online .box {
        box-shadow: 0px 0px 10px #0000001a;
        width: 180px;
        border-radius: 5px;
        background-color: white;
        padding:20px 0px;
        transition: 0.5s;
      }
      .online-heading h1{
        font-size: 40px;
      }
      .online h1 {
        font-size: 16px;
      }
      .online img {
        width: 50px;
        height: 50px;
      }
      .online .img {
        width: 50px;
        height: 40px;
        margin: auto;
        position: relative;
      }
  }
  